/* Animate the logo with keyframes */
#logo {
    position: relative;
    animation: mymove 5s;
}

@keyframes mymove {
    from {
        width: 25px;
        opacity: 0;
    }

    to {
        width: 475px;
        opacity: 1;
    }
}

/* body and other basic elemnts' style */
body {
    font-family: "Poppins", serif;
    background-image: url('images/concrete_seamless.png');
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
}


/* make the links have the same color even after they have been visited.  */
a:visited {
    color: blue;
}

/* After inspect element to fix the corners problems */
.card {
    border-radius: 50px 50px 0px 0px;
}

/* edit the style of cards that inside of header */
.card>header {
    background: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0;
    border-radius: 50px 50px 0 0;
}

.card {
    flex-basis: 450px;
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* style the images in the gallery class */
.gallery img {
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


/* The following specifications are for when the screen-size is greater than 900px */
@media screen and (min-width: 900px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_links {
/* make the navbar in a row */
        flex-direction: row; 
    }

    .card {
        flex-basis: 275px;
    }

    body>header {
        position: sticky;
        top: 0px;
    }
}


/* The following specifications are for when the user prefers reduced motion.  */
@media (prefers-reduced-motion: reduce) {
    #logo {
        animation: none;
    }
}

/* The following specifications are for when the page is printed in portrait mode.  */
@media print {
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }
    
/* make the navbar no longer stock together */
    nav {
        display: flex;
        width: 100%;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;

    }

    .pricing {
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: flex-end;
    }

    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }
    
/* remove entire gallery */
    #gallery,
    .gallery {
        display: none;
    }
    
/* make a thumbs up entity inside of the content */
    .card ul li:nth-child(2)::after {
        content: "👍";
    }
}
